<div class="container contentbg">
<main>
 <p class="aboutPawl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate beatae consequatur quisquam, voluptas expedita, omnis perferendis incidunt ipsum rerum commodi recusandae facere eveniet aliquam optio autem velit deserunt. Beatae, eaque!</p>
</main>

<section class="information">
  <div class="row"align="center">
    <div class="col-md">
      <div class="imgWrapper">
          <img src="https://via.placeholder.com/314x236" alt="Personally, I hate the absence of padding">
      </div>
      <h4>Find & play with new friends</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum at ullam, accusantium, voluptatibus eum ab autem fugit reiciendis corrupti, omnis adipisci. Quos doloremque deleniti nulla eius ea perferendis iste temporibus?</p>
  </div>
      <div class="col-md">
          <div class="imgWrapper">
              <img src="https://via.placeholder.com/314x236" alt="Personally, I hate the absence of padding">
          </div>
          <h4>Custom, Competitive lobbies</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum at ullam, accusantium, voluptatibus eum ab autem fugit reiciendis corrupti, omnis adipisci. Quos doloremque deleniti nulla eius ea perferendis iste temporibus?</p>
      </div>
      <div class="col-md">
          <div class="imgWrapper">
              <img src="https://via.placeholder.com/314x236" alt="Look at all these neat binaries included.">
          </div>
          <h4>Join a growing community</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nobis ipsum repellendus ullam sequi sint, velit nisi saepe odit debitis officiis obcaecati porro sapiente quasi recusandae corrupti ab aliquid! Totam?
          </p>
      </div>
  </div>
</section>
<div class="row">
<div class="col-md col-sg">
  <section class="var_doc">
    <h3>Join our Discord</h3>

    <div class="row">
        <div class="col-lg">
            <h4>Make a Discord account if you don't have one</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nesciunt sit architecto ab sint dolorum quas molestiae! Odit minima totam omnis, quibusdam debitis voluptates ratione sequi fugit neque! Magni, dolorem?</p>
            <h4>Our Discord Server</h4>
           <p>Go to <a href="">PAWL Discord</a> to join our Discord Server</p>
        </div>
        <div class="col-lg">
            <h4>PAWL Discord Server Rules</h4>
            <p>Rule #1 NO RAGING!!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem debitis aut est ad ab dolorum. Error earum, quas, alias ipsam et ad officia aliquam magni iusto, sint commodi voluptate id.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eaque non voluptatem id, alias dolore molestias ad beatae. Voluptate nihil hic aliquam molestiae magnam ipsam sint, fugiat ipsum expedita nulla.</p>
        </div>
    </div>
</section>
  <h3>Notes</h3>
  <p style="padding-top:1.1em;">If you use a Cronusmax, you're a pussy</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deserunt ex, ea cumque sapiente impedit fugiat delectus quis cupiditate at tenetur blanditiis excepturi sit. At sint repellendus assumenda ex adipisci!</p>
</div>
  
</div>





</div>

