.contentbg{
    background-color: white;
    
    padding: 0 50px 50px 50px;
    font-weight: normal;
}

main {
    padding: 1em 6%;
    text-align: center;
}

main p:before, main p:after {
    display: block;
    margin: 0.5em auto;
    width: 50%;
    height: 1px;
    background-color: #eee;
    content: "";
}

h3 {
    margin: 3em 0 0 0;
    padding: 8px;
    background-color: #eee;
    color: #222;
    text-indent: 0.2em;
    letter-spacing: 0.2em;
    font-weight: normal;
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
    margin: 1em 0;
}

.container {
    
}