<div class="container contentbg">


  <div class="row">
    <div class="col-md col-sg">
      <section>
        <h3>Rules</h3>
        <div class="row">
          <div class="col-lg">
            <h4>1. No offensive messages or nicknames</h4>
            <p>Anything that a reasonable person might find offensive.</p>
            <h4>2. No spam</h4>
            <p>This includes but is not limited to: loud/obnoxious noises in voice, @mention spam, character spam, image spam, and message spam.</p>
            <h4>3. No Gorey, Sexual, or scary content</h4>
            <p>E.g. screamer links, porn, nudity, death.</p>
            <h4>4. No harassment</h4>
            <p>Including sexual harassment or encouraging of harassment.</p>
            <h4>5. Use the appropriate channels</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio repellat, magnam corporis cumque qui minus vero non modi architecto impedit dolores? Sapiente, incidunt quos. Eos ex explicabo labore laborum possimus!</p>
            <h4>6. No self or user bots</h4>
            <p>These are in some cases against the discord TOS and if you need a bot for something use one of the bots already in the server.</p>
            <h4>7. There may be situations not covered by the rules or times where the rules may not fit the situation. If this happens the moderators are trusted to handle the situation appropriately. If you have a complaint about a staff member you may submit the complaint <a href="#">here.</a></h4>
          </div>
        </div>

        <br>
        <br>
        <a a routerLink="/">Back to Homepage</a>

      </section>
    </div>

  </div>
</div>